<p id="notice"><%= notice %></p>

<p>
  <strong>Books:</strong>
  <%= @author.books_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @author.born %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
