<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @journal.title %>
</p>

<p>
  <strong>Info:</strong>
  <%= @journal.info %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @journal.created_at %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
